@CHARSET "ISO-8859-1";

body {
  padding-top: 60px; /* for Bootstrap's fixed top header bar */
  background: #f5f5f5
}

.event-thumbnail {
  padding-bottom: 50px;
}

ul.rankings {
  list-style-type: none;
}